body {
	font: 16px/1.2 Verdana, Geneva, sans-serif;
	background: #333;
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

h1 {
	text-align: center;
}

.container {
	max-width: 508px;
	margin: 40px auto;
}