body {
	font: 16px/1.2 Verdana, Geneva, sans-serif;
	background: #333;
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

h1 {
	text-align: center;
}

.container {
	max-width: 508px;
	margin: 40px auto;
}

.slider-outer {
	position: relative;
}

.slider-outer:after {
	display: block;
	clear: both;
	content: '';
}

.slider-inner {
	width: 500px;
	height: 500px;
	position: relative;
	overflow: hidden;
	float: left;
	padding: 3px;
	border: 1px solid #666;
}

.slider-inner img {
	display: none;
	width: 500px;
	height: 500px;
}

.slider-inner img.active {
	display: inline-block;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 100;
	width: 40px;
	transition: opacity 0.3s ease-in-out;
}

.prev:hover,
.next:hover {
	opacity: 0.7;
}

.prev img,
.next img {
	display: block;
	max-width: 100%;
	height: auto;
}

.prev {
	left: -60px;
}

.next {
	right: -60px;
}