.open-close {
	border: 2px solid #000;
	margin-bottom: 20px;
}

.open-close .opener {
	border: 2px solid #000;
	display: block;
	text-decoration: none;
	color: #000;
	margin: -2px;
	padding: 10px;
}

.open-close .holder {
	padding: 15px;
}

.open-close.active {
	border-color: #ccc;
}

.open-close.active .opener {
	border-color: #ccc;
}